@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
  background:linear-gradient(100deg, #ccc 25%, #eee 40%, #ddd 55%);
  color:#555;
  font-family:'Roboto';
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
  overflow:hidden;
}

.script {
  font-size: 22px;
  text-align:center;
  display:inline-block;
  white-space:nowrap;
}

.script:first-of-type {
  animation: showup 7s infinite;
}

.script:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

.script:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}


span {
  font-size:16px;
  color:#999;
  margin-top:200px;
}

.headerTitle{
  font-size:22px;
}